@using LibraryApplication.Utility

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Library Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Library", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @*book status nav link*@
                    @*opens the index action within the BookRentalController*@
                    <li>@Html.ActionLink("Book Status", "Index", "BookRental")</li>

                    @*if the user is an Admin*@
                    @if (User.IsInRole(StaticDetails.AdminUserRole))
                    {
                        //includes the admin menu dropdown
                        @Html.Partial("_AdminMenuPartial")
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer class="footer" style="background-color: #772953;">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @*Referenced in BundleConfig*@
    @Scripts.Render("~/bundles/libraryRentalJs")
    @RenderSection("scripts", required: false)
</body>
</html>
